@import '/vendors/normalize.css';

body {
  width: 100%;
  margin: auto;
  background-color: grey;
  color: white;
  text-align: center;
}

h1 {
  font-size: 3em;
  text-decoration-line: underline;
}

h2 {
  font-size: 2em;
  font-weight: bold;
}

h3 {
  margin: 0px auto;
  padding-left: 2em; 
}

header {
  height: 10%;
  background-color: rgb(51, 51, 51);
}

a {
 font-size: 1em;
 margin: 0px auto;
 padding-left: 2em;  
}

footer {
  height: 30%;
  background-color: rgb(51, 51, 51);
}