@import 'vendors/reset.css';

/* mobile */
@media screen and (max-width: 639px){
  body {
    width: 100%;
    margin: auto;
    background-color: rgb(252,194,208);
    color: white;
    text-align: center;
  }
  h1 {
    font-size: 3em;
    /* text-decoration-line: underline; */
    font-family: 'Titan One', cursive;
  }
  h2 {
    font-size: 2.5em;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    padding: 5% 0;
  }
  h3 {
    margin: 1.5vh auto;
    font-size: 1.5em;
  }
  p {
    font-family: 'Lato', sans-serif;
  }
  header {
    position: fixed;
    width: 100%;
    top: 0;
    padding: 3% 0 3% 0;
    background-color: rgb(206,132,209);
  }
  a {
  font-size: 1em;
  margin: 0px auto;
  padding-left: 2em;
  }
  img {
    border-radius: 10%;
    border: 10px solid rgb(206,132,209);
    /* margin: 0 auto; */
    width: 100%
  }
  button {
    padding: 5% 20%;
    margin-top: 35%;
    border-radius: 10%;
    font-size: 1.5em;
    background-color: rgb(206,132,209);
    color: white;
    outline: none;
    border: none;
  }
  button:active {
    background-color: rgb(218,110,136);

  }
  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgb(206,132,209);
    padding: 5% 0;
    font-family: 'Lato', sans-serif;
    font-size: 1.5em;
  }
}

/* desktop */
@media only screen and (min-width: 640px) {
  body {
    width: 100%;
  }

  header {
    height: 5%;
  }
}