@import 'base.css';
@import 'modules.css';

#nav-bar {
  display: inline-flex;
}

.container {
  margin-top: 10%;
}

.error-view {
  color: rgb(219, 46, 46);
  text-decoration-line: underline;
  display: none;
}

