/* mobile */
@media screen and (max-width: 640px){

  #nav-place a {
    text-decoration: none;
    color: white;
  }
  #nav-place li{
    list-style-type: none;
  }
  #head img {
    padding: 2%;
    max-width: 80%;
  }
  #choose {
    width: 80vw;
    height: auto;
    margin: 0 auto;
  }
  .choice {
    display: block;
    margin: 0;
    width: 100%;
    height: 30%;
  }
  .choice img {
    max-width: 90%;
    height: auto;
    vertical-align: middle;
  }
  .default {
    background-color: rgb(63, 63, 63);
    color: grey;
  }
  .category {
    color: black;
  }
  #search {
    width: 30%;
    height: 30px;
    text-align: center;
    border-radius: 2px;
  }
  #face_1 {
    position: absolute;
    width: 15vw;
    height: 8vh;
    top: 17vh;
    left: 13vw;
  }
  #face_2 {
    position: absolute;
    width: 15vw;
    height: 7vh;
    top: 27vh;
    left: 43vw;
  }
  #face_3 {
    position: absolute;
    width: 15vw;
    height: 7vh;
    top: 20vh;
    left: 52vw;
  }
  #face_4 {
    position: absolute;
    width: 15vw;
    height: 7vh;
    top: 28vh;
    left: 68vw;
  }
  #face_5 {
    position: absolute;
    width: 15vw;
    height: 6vh;
    top: 22vh;
    right: 11vw;
  }
  .links {
    margin: 5vh auto;
    font-size: 1.5em;
  }
  .links li {
    display: inline;
  }
  .links a {
    text-decoration: none;
    color: black;
    padding: 0 5vw;
  }
  .links a:hover {
    color: blue;
  }
  .links:first-child {
    padding: 0vw;
  }
}


/* desktop */
@media screen and (min-width: 640px) {
  #head img {
    height: 50%;
    width: auto;
  }
  
  #nav-place a {
    text-decoration: none;
    color: white;
    /* margin-right: 30%;
    margin-left: 30%; */
  }
  
  #nav-place li{
    list-style-type: none;
  }

  .link {
    width: 33%;
    float: left;
    margin-top: 2%;
  }
  
  .default {
    /* may not work on mac */
    background-color: rgb(63, 63, 63);
    color: grey;
  }
  
  .category {
    color: black;
  }
  
  #search {
    width: 30%;
    height: 30px;
    text-align: center;
    border-radius: 5px;
  }

  #choose {
    width: 80vw;
    height: auto;
    margin: 0 auto;
  }

  .choose {
    width: 40%;
    margin: 0 5% 5%;
    float: left;
  }

  #team {
    width: 45%;
    margin-top: 5%;
  }

  #face_1 {
    position: absolute;
    width: 10%;
    height: 10%;
    top: 22%;
    left: 30%;
    /* border: solid 5px black; */
  }

  #face_2 {
    position: absolute;
    width: 7%;
    height: 8%;
    top: 32%;
    left: 46%;
    /* border: solid 5px black; */
  }

  #face_3 {
    position: absolute;
    width: 6%;
    height: 6%;
    top: 26%;
    left: 51%;
    /* border: solid 5px black; */
  }

  #face_4 {
    position: absolute;
    width: 6%;
    height: 6%;
    top: 33%;
    left: 58%;
    /* border: solid 5px black; */
  }

  #face_5 {
    position: absolute;
    width: 6%;
    height: 6%;
    top: 27%;
    right: 30%;
    /* border: solid 5px black; */
  }

  .links {
    width: 80%;
    display: inline-flex;
  }
  
  .links li {
    float: left;
    margin: auto;
    padding: 2%;
  }

  .links a {
    text-decoration: none;
    color: black;
    padding: 0 5vw;
    font-size: 1.5em;
  }

  .links a:hover {
    color: blue;
  }

  .links:first-child {
    padding: 0vw;
  }
  
  .bio p {
    width: 80%;
    margin: 5% auto 5%;
    font-size: 1.25em;
  }
}

@media screen and (min-width: 740px) {
  #face_3 {
    position: absolute;
    width: 7%;
    height: 8%;
    top: 29%;
    left: 50%;
    /* border: solid 5px black; */
  }

  #face_4 {
    position: absolute;
    width: 8%;
    height: 8%;
    top: 37%;
    left: 58%;
    /* border: solid 5px black; */
  }

  #face_5 {
    position: absolute;
    width: 7%;
    height: 7%;
    top: 30%;
    right: 29%;
    /* border: solid 5px black; */
  }
}

@media screen and (min-width: 960px) {
  #face_1 {
    position: absolute;
    width: 10%;
    height: 10%;
    top: 26%;
    left: 30%;
    /* border: solid 5px black; */
  }

  #face_2 {
    position: absolute;
    width: 7%;
    height: 8%;
    top: 40%;
    left: 46%;
    /* border: solid 5px black; */
  }

  #face_3 {
    position: absolute;
    width: 7%;
    height: 8%;
    top: 32%;
    left: 50%;
    /* border: solid 5px black; */
  }

  #face_4 {
    position: absolute;
    width: 8%;
    height: 8%;
    top:41%;
    left: 58%;
    /* border: solid 5px black; */
  }

  #face_5 {
    position: absolute;
    width: 7%;
    height: 7%;
    top: 33%;
    right: 29%;
    /* border: solid 5px black; */
  }
}

@media screen and (min-width: 1150px) {
  #face_1 {
    position: absolute;
    width: 10%;
    height: 10%;
    top: 30%;
    left: 30%;
    /* border: solid 5px black; */
  }

  #face_2 {
    position: absolute;
    width: 7%;
    height: 8%;
    top: 45%;
    left: 46%;
    /* border: solid 5px black; */
  }

  #face_3 {
    position: absolute;
    width: 7%;
    height: 8%;
    top: 35%;
    left: 50%;
    /* border: solid 5px black; */
  }

  #face_4 {
    position: absolute;
    width: 8%;
    height: 8%;
    top:45%;
    left: 58%;
    /* border: solid 5px black; */
  }

  #face_5 {
    position: absolute;
    width: 7%;
    height: 7%;
    top: 37%;
    right: 29%;
    /* border: solid 5px black; */
  }
}

@media screen and (min-width: 1250px) {
  #face_1 {
    position: absolute;
    width: 10%;
    height: 15%;
    top: 33%;
    left: 30%;
    /* border: solid 5px black; */
  }

  #face_2 {
    position: absolute;
    width: 7%;
    height: 13%;
    top: 53%;
    left: 46%;
    /* border: solid 5px black; */
  }

  #face_3 {
    position: absolute;
    width: 7%;
    height: 10%;
    top: 42%;
    left: 50%;
    /* border: solid 5px black; */
  }

  #face_4 {
    position: absolute;
    width: 8%;
    height: 12%;
    top:55%;
    left: 58%;
    /* border: solid 5px black; */
  }

  #face_5 {
    position: absolute;
    width: 7%;
    height: 10%;
    top: 44%;
    right: 29%;
    /* border: solid 5px black; */
  }
}