#head h1 {
  padding-top: 2%;
}

#head img {
  margin: 2%;
  height: 75%;
  width: auto;
}

#nav-place a {
  text-decoration: none;
  color: white;
  margin-right: 100px;
  margin-left: 100px;
}

#nav-place li{
  list-style-type: none;
}

.default {
  background-color: rgb(63, 63, 63);
  color: grey;
}

.category {
  color: black;
}

#search {
  width: 30%;
  height: 30px;
  text-align: center;
  border-radius: 5px;
}

.bio {
  width: 100%;
}

.links {
  width: 80%;
  display: inline-block;
}

.links a {
  text-decoration: none;
  color: white;
}

.links li {
  float: left;
  margin-left: 18%;
  padding: 2%;
}

.bio p {
  width: 80%;
  margin: auto;
}